@charset "UTF-8";

@import "base.css";

/*-------------------------------------------------------------------------
	All
/*-----------------------------------------------------------------------*/
#all {
	padding:120px 20px 0 20px;
	background:#fff;
}

/*-------------------------------------------------------------------------
	Header
/*-----------------------------------------------------------------------*/
#header {
	opacity:.95;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	padding:20px 0;
	border-top:3px solid #329fba;
	border-bottom:1px solid #ccc;
	background:#fff;
}

	#header .wrap {
		margin:0 20px;
	}

	#header h1 {
		float:left;
		color:#000;
		font-size:18px;
		line-height:36px;
		letter-spacing:1px;
	}
		
	#form {
		float:right;
	}
	
		#form p,
		#form ul {
			float:left;
			margin-right:10px;
		}
		
			#form ul li {
				float:left;
			}
			
		#form .submit {
			margin:0 0 0 5px;
		}
		
		#form .from:after {
			display:inline-block;
			content:"-";
			visibility:visible;
			margin:0 5px;
		}
		
		#form input {
			resize:none;
			height:20px;
			padding:5px;
			border:1px solid #aaa;
			background:#fafafa;
			font-size:12px;
			line-height:1.8;
		}
		
		#form input[type="text"] {
			width:200px;
		}
		
		#form button {
			height:32px;
			padding:0 20px;
			border:none;
			border-radius:3px;
			background:#329fba;
			color:#fff;
			font-size:14px;
			text-align:center;
			text-indent:.5em;
			letter-spacing:.5em;
			cursor:pointer;
		}
		
		#form button:hover {
			background-color:#53b7d0;
		}